<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.warn.dao.RoomDao">

    <select id="getDatagridTotal" resultType="long">
        select
        count(1)
        from room where 1=1
        <if test="rid != null and rid != ''">
            and rid=#{rid}
        </if>
        <if test="roomName != null and roomName != ''">
            and roomName=#{roomName}
        </if>
        <if test="rRegtime != null and rRegtime != ''">
            and rRegtime=#{rRegtime}
        </if>
        <if test="collectId != null and collectId != ''">
            and collectId=#{collectId}
        </if>
        <if test="nerRoom != null and nerRoom != ''">
            and nerRoom like concat('%',#{nerRoom},'%')
        </if>
        <if test="oldId != null and oldId != ''">
            and oldId=#{oldId}
        </if>

    </select>

    <select id="datagridRoom" resultType="com.warn.entity.Room">
        select
        rid,roomName,collectId,nerRoom,oldId,rRegtime
        FROM room
        WHERE 1=1
        <if test="room.rid != null and room.rid != ''">
            and rid=#{room.rid}
        </if>
        <if test="room.roomName != null and room.roomName != ''">
            and roomName=#{room.roomName}
        </if>
        <if test="room.rRegtime != null and room.rRegtime != ''">
            and rRegtime=#{room.rRegtime}
        </if>
        <if test="room.collectId != null and room.collectId != ''">
            and collectId=#{room.collectId}
        </if>
        <if test="room.nerRoom != null and room.nerRoom != ''">
            and nerRoom like concat('%',#{room.nerRoom},'%')
        </if>
        <if test="room.oldId != null and room.oldId != ''">
            and oldId=#{room.oldId}
        </if>
        <if test="page.sort != null and page.sort != ''">
            order by #{page.sort} #{page.order}
        </if>
        <if test="page.page > 0">
            limit #{page.start},#{page.rows}
        </if>
    </select>
    
    <insert id="addRoom" parameterType="com.warn.entity.Room" useGeneratedKeys="true" keyProperty="rid">
        INSERT INTO room(roomName,nerRoom,rRegtime,oldId) VALUES (#{roomName},#{nerRoom},#{rRegtime},#{oldId})
    </insert>

    <update id="editRoom" parameterType="com.warn.entity.Room">
        UPDATE room SET roomName=#{roomName},collectId=#{collectId},nerRoom=#{nerRoom},rRegtime=#{rRegtime},oldId=#{oldId} WHERE rid=#{rid}
    </update>

    <delete id="deleteRoomById">
      delete from room where rid=#{id}
    </delete>

    <delete id="deleteRoomByOldManId">
        delete from room where oldId=#{id}
    </delete>

    <update id="deleteNerRoomById">
      UPDATE room SET nerRoom=#{nerRoom} WHERE rid=#{id};
    </update>


    <update id="deleteEquipByEid">
        UPDATE room SET collectId="" WHERE collectId=#{eid} AND oldId=#{oid};
    </update>

    <update id="addRoomEid">
        UPDATE room SET collectId=#{eid} WHERE rid=#{roomId};
    </update>

    <select id="getAllRoomByOldManId" resultType="com.warn.entity.Room">
        SELECT rid,roomName,nerRoom,rRegtime,oldId,collectId FROM room WHERE oldId=#{id}
    </select>

    <select id="getRoomById" resultType="com.warn.entity.Room">
        SELECT rid,roomName,nerRoom,rRegtime,oldId,collectId FROM room WHERE rid=#{id}
    </select>

    <select id="getRoomByName" resultType="com.warn.entity.Room">
        SELECT rid,roomName,nerRoom,rRegtime,oldId,collectId FROM room WHERE oldId=#{id} AND roomName=#{name}
    </select>

    <select id="getRoomByEquipId" resultType="com.warn.entity.Room">
        select
        rid,roomName,collectId,nerRoom,oldId,rRegtime
        FROM room
        WHERE collectId=#{id}
    </select>


    <select id="getRoomByGateWayId_SensorId" resultType="com.warn.entity.Room">
        select
        r.rid,r.roomName,r.collectId,r.nerRoom,r.oldId,r.rRegtime
        FROM room r,oldman o
        WHERE r.collectId=#{sid} AND o.gatewayID=#{gid} AND r.oldId=o.oid
    </select>


    <select id="getCount" resultType="int">
        select
        count(1)
        from room
    </select>
</mapper>
