<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.warn.dao.SmsDao">

    <!--<resultMap id="resultSmsSendEntity" type="com.warn.entity.SmsSendEntity">-->
        <!--<id property="id" column="id"/>-->
        <!--<result property="phone" column="phone"/>-->
        <!--<result property="order" column="order"/>-->
        <!--<association property="relatives" javaType="com.warn.entity.Relatives">-->
            <!--<id property="relid" column="relid"/>-->
            <!--<result property="rName" column="rName"/>-->
            <!--<result property="rPhone" column="rPhone"/>-->
            <!--<result property="rAddress" column="rAddress"/>-->
            <!--<result property="oldId" column="oldId"/>-->
        <!--</association>-->
   <!---->
    <!--</resultMap>-->


    <select id="datagridSmsSendEntity" resultType="com.warn.entity.SmsSendEntity">
        select
        p.id,p.phone,p.orderSms,po.timeSms
        FROM sysphone p,phoneOrder po
        WHERE p.orderSms=po.orderSms
        <if test="phone != null and phone != ''">
            and p.phone=#{phone}
        </if>
        <if test="orderSms != null and orderSms != ''">
            and p.orderSms=#{orderSms}
        </if>

    </select>

    <select id="datagridSmsOrder" resultType="com.warn.entity.SmsOrder">
        select
        po.id,po.orderSms,po.timeSms
        FROM phoneOrder po
    </select>


    <insert id="addPhone" parameterType="com.warn.entity.SmsSendEntity">
        INSERT INTO sysphone(phone,orderSms) VALUES (#{phone},#{orderSms})
    </insert>

    <update id="editPhone" parameterType="com.warn.entity.SmsSendEntity">
        UPDATE sysphone SET phone=#{phone},orderSms=#{orderSms} WHERE id=#{id}
    </update>


    <delete id="deletePhone">
      delete from sysphone where id=#{id}
    </delete>

    <insert id="addSmsOrder" parameterType="com.warn.entity.SmsOrder">
        INSERT INTO phoneOrder(orderSms,timeSms) VALUES (#{orderSms},#{timeSms})
    </insert>

    <update id="editSmsOrder" parameterType="com.warn.entity.SmsOrder">
        UPDATE phoneOrder SET orderSms=#{orderSms},timeSms=#{timeSms} WHERE id=#{id}
    </update>


    <delete id="deleteSmsOrder">
        delete from phoneOrder where id=#{id}
    </delete>


</mapper>
