<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.warn.dao.UserDao">

    <select id="findUserByName" resultType="com.warn.entity.User">
        select id, username , password from sysuser where username = #{username}
    </select>

    <!--<select id="getMenuByUserId" resultType="com.warn.entity.Menu">-->
        <!--SELECT m.id,m.name,m.parentid,m.iconCls,m.url,-->
        <!--(select count(1) from sysmenu s where s.parentId!=0 and s.parentId=m.id) countChildrens-->
        <!--FROM sysmenu m-->
        <!--LEFT JOIN role_menu rm-->
        <!--ON m.id = rm.menuId-->
        <!--LEFT JOIN sysrole r-->
        <!--ON rm.roleId = r.id-->
        <!--LEFT JOIN user_role ur-->
        <!--ON  r.id = ur.roleId-->
        <!--LEFT JOIN sysuser u-->
        <!--ON ur.userId = u.id-->
        <!--WHERE m.enable=1 AND u.id = #{userId}-->
        <!--AND m.id NOT IN(-->
        <!--SELECT tt.id-->
        <!--FROM-->
        <!--(SELECT m.id,-->
        <!--(SELECT COUNT(parentId) FROM sysmenu sp WHERE sp.enable=1 AND sp.parentId=m.id AND m.parentId=0 ) countch-->
        <!--FROM sysmenu m WHERE m.parentId=0-->
        <!--) tt-->
        <!--where countch =0-->
        <!--)-->
        <!--ORDER BY m.sequence-->
    <!--</select>-->

    <select id="getRoleByUserId" resultType="com.warn.entity.Role">
        select id,name from sysrole where id=(select roleId from user_role where userId=#{userId})
    </select>




    <!--<select id="getMenuById" resultType="com.warn.entity.Menu">-->
        <!--SELECT m.id,m.name,m.parentid,m.iconCls,m.url,-->
        <!--(select count(1) from sysmenu s where s.parentId!=0 and s.parentId=m.id) countChildrens-->
        <!--FROM sysmenu m-->
        <!--LEFT JOIN role_menu rm-->
        <!--ON m.id = rm.menuid-->
        <!--LEFT JOIN user_role r-->
        <!--ON rm.roleid = r.id-->
        <!--LEFT JOIN user_role ur-->
        <!--ON  r.id = ur.roleid-->
        <!--LEFT JOIN sysuser u-->
        <!--ON ur.userId = u.id-->
        <!--WHERE u.id = #{userid}-->
        <!--and parentid = #{parentid}-->
        <!--ORDER BY m.sequence-->
    <!--</select>-->

    <select id="getMenu1ById" resultType="com.warn.entity.Menu">
        SELECT m.id,m.name,m.parentid,m.iconCls,m.url,
        (select count(1) from sysmenu s where s.parentId!=0 and s.parentId=m.id) countChildrens
        FROM sysmenu m
        LEFT JOIN role_menu rm
        ON m.id = rm.menuid
        LEFT JOIN user_role r
        ON rm.roleid = r.id
        LEFT JOIN user_role ur
        ON  r.id = ur.roleid
        LEFT JOIN sysuser u
        ON ur.userId = u.id
        WHERE u.id = #{userid} AND rm.flagBack LIKE concat('%',#{flag},'%')
        ORDER BY m.sequence
    </select>
    <select id="getAllMenu" resultType="com.warn.entity.Menu">
        SELECT id,name,parentid,iconCls,url
        FROM sysmenu
    </select>

    <select id="getMenuByRoleId" resultType="com.warn.entity.Menu">
        SELECT m.id,m.name,m.parentid,m.iconCls,m.url,
        (select count(1) from sysmenu s where s.parentId!=0 and s.parentId=m.id) countChildrens
        FROM sysmenu m
        LEFT JOIN role_menu rm
        ON m.id = rm.menuid
        WHERE rm.roleId = #{roleId}
        ORDER BY m.sequence
    </select>
</mapper>
