<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.warn.dao.WarnHistoryDao">


    <insert id="addWarnHistory" parameterType="com.warn.entity.WarnData" useGeneratedKeys="true" keyProperty="wdid">
        INSERT INTO warnhistory(oid,oldName,typeW,dataW,readW,timeW) VALUES (#{oid},#{oldName},#{typeW},#{dataW},#{readW},#{timeW})
    </insert>

    <select id="getNoReadSum" resultType="long">
        select
        count(1)
        from warnhistory where readW="否"
    </select>

    <update id="messageRead">
        UPDATE warnhistory SET readW="是" WHERE wdid=#{id}
    </update>




    <select id="getDatagridTotal" resultType="long">
        select
        count(1)
        from warnhistory where 1=1
        <if test="typeW != null and typeW != ''">
            and typeW like concat('%',#{typeW},'%')
        </if>
        <if test="oldName != null and oldName != ''">
            and oldName=#{oldName}
        </if>
        <if test="oid!= null and oid != ''">
            and oid=#{oid}
        </if>
        <if test="readW != null and readW != ''">
            and readW=#{readW}
        </if>
        <if test="timeW != null and timeW != ''">
            and timeW like concat('%',#{timeW},'%')
        </if>

    </select>

    <!--参数只有一个的话 可以直接用对象的属性值，但是有两个以上的话 就要 对象名.属性名-->
    <select id="datagridWarnData" resultType="com.warn.entity.WarnData">
        select
        oid,oldName,typeW,readW,wdid,timeW,dataW
        FROM warnhistory
        WHERE 1=1
        <if test="warnData.typeW != null and warnData.typeW != ''">
            and typeW like concat('%',#{warnData.typeW},'%')
        </if>
        <if test="warnData.oldName != null and warnData.oldName != ''">
            and oldName=#{warnData.oldName}
        </if>
        <if test="warnData.oid!= null and warnData.oid != ''">
            and oid=#{warnData.oid}
        </if>
        <if test="warnData.readW != null and warnData.readW != ''">
            and readW=#{warnData.readW}
        </if>
        <if test="warnData.timeW != null and warnData.timeW != ''">
            and timeW like concat('%',#{warnData.timeW},'%')
        </if>
            order by wdid DESC
        <if test="page.page > 0">
            limit #{page.start},#{page.rows}
        </if>
    </select>

    <!--返回String类型 要加 resultType="String"-->
    <select id="getMessageByWdid"  resultType="String">
        SELECT dataW FROM warnhistory WHERE wdid=#{id}
    </select>


    <select id="getNoReadNoSmsData"  resultType="com.warn.entity.WarnData">
        select
        oid,oldName,typeW,wdid,timeW
        FROM warnhistory
        WHERE readW='否' AND sms=0
    </select>

    <update id="updateSMSByWid">
        UPDATE warnhistory SET sms=1 WHERE wdid=#{id}
    </update>
</mapper>
